body, html, #root {
  height: 100%;
}

.color-square {
  height: 200px;
  width: 200px;
  margin: 80px auto;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.center-div {
  display: flex;
  flex-direction: row;
  flex-wrap: 0;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.wrong {
  font-size: 24px;
  color: red;
  text-align: center;
}

.correct {
  font-size: 24px;
  color: green;
  text-align: center;
}